<template>
    <nb-container :style="{ backgroundColor: '#fff' }">
        <nb-content>
            <view v-for="(category, index) in categories" :key="index">
                <nb-list-item itemDivider>
                    <nb-text>{{index}}</nb-text>
                </nb-list-item>
                <nb-list-item v-for="(item, index2) in category" :key="item.name">
                    <nb-left>
                        <nb-text>{{item.name}}</nb-text>
                    </nb-left>
                    <nb-right>
                        <switch v-model="item.state"/>
                    </nb-right>
                </nb-list-item>
            </view>
        </nb-content>
    </nb-container>
</template>


<script>
export default {
    data: function() {
        return {
            categories: {
                'Telefoni': [
                    { 'name': 'Yousee', 'state': false },
                    { 'name': 'Telmore', 'state': false },
                    { 'name': 'Fullrate', 'state': false },
                ],
                'Forsikring': [
                    { 'name': 'If..', 'state': false },
                    { 'name': 'Tryg', 'state': false },
                    { 'name': 'almindelig brand', 'state': false },
                ]
            }
        };
    },
    methods: {
        change(val)
        {

        }
    }

};
</script>
