<template>
        <nb-container>

        <nb-tabs>
          <nb-tab heading="Opkald">
              <tab-one />
          </nb-tab>
          <nb-tab heading="Overblik">
              <tab-two />
          </nb-tab>
          <nb-tab heading="Tilladelser">
              <tab-three />
          </nb-tab>
        </nb-tabs>
      </nb-container>
</template>

<script>
import TabOne from "./home/cases";
import TabTwo from "./home/overview";
import TabThree from "./home/permissions";

export default {
  components: { TabOne, TabTwo, TabThree }
};
</script>
