 <template>
    <root>
      <app-navigation></app-navigation>
    </root>
</template>


<script>
import React from "react";
import { StackNavigator, DrawerNavigator } from "vue-native-router";
import { Root } from "native-base";

import HomeScreen from "./screens/home";
import WelcomeScreen from "./screens/welcome";
import LoginScreen from "./screens/login";
import RegisterScreen from "./screens/register";


const AppNavigation = StackNavigator(
  {
    Login: { screen: LoginScreen },
    Welcome: { screen: WelcomeScreen },
    Register: { screen: RegisterScreen },
    Home: { screen: HomeScreen }
  },
  {
    initialRouteName: "Home",
    headerMode: "none"
  }
);
export default {
  components: { Root, AppNavigation }
};
</script>
